<!-- Modal -->
<div id="eventModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()"><span aria-hidden="true">&times;</span></button>
        <h4 id="myModalLabel" class="modal-title">Add event</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="eventName">Event name</label>
            <input id="eventName" type="text" class="form-control" placeholder="name">
          </div>
          <div class="form-group">
            <label for="position">Position</label>
            <input id="position" type="number" class="form-control" placeholder="position">
          </div>
          <div class="form-group">
            <label for="date">Date</label>
            <input id="date" type="date" class="form-control">
          </div>
          <div class="form-group">
            <label for="isRepeatable">Repeatable</label>
            <input id="isRepeatable" type="checkbox" class="form-control" (change)="isRepeatable=!isRepeatable">
          </div>
          <div [hidden]="!isRepeatable">
            <label for="repeatingOptions">Repeating options</label>
            <select id="repeatingOptions" class="form-control">
              <option value="eachDay">each day</option>
              <option value="eachWeek">each week</option>
              <option value="eachTwoWeeks">each two weeks</option>
              <option value="eachMonth">each month</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="onClose()" data-dismiss="modal">Cancel</button>
        <button id="saveEvent" type="button" class="btn btn-primary" (click)="addNewEvent()" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
