@import './src/styles.scss';

.NEW {
  background: #0f7595;
}
.IN_PROGRESS {
  background: blueviolet;
}

.DONE {
  background: greenyellow;
}

.OUT_OF_DATE {
  background: mediumvioletred;
}

.CANCELED {
  background-color: chocolate;
}
