<div class="child task">
  <h5>
    <div class="dropdown pull-right">
      <div id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="caret"></span>
      </div>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">IN PROGRESS</a></li>
        <li><a href="#">DONE</a></li>
        <li><a href="#">CANCEL</a></li>
        <li><a href="#">OUT OF DATE</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">DELETE</a></li>
      </ul>
    </div>
    {{ task }}
  </h5>
</div>
