<div class="child" [ngClass]="{'NEW': task.status==task.NEW , 'IN_PROGRESS': task.status==task.IN_PROGRESS, 'DONE': task.status==task.DONE, 'CANCELED': task.status==task.CANCELED, 'OUT_OF_DATE': task.status==task.OUT_OF_DATE}">
  <h5>
    <div class="dropdown pull-right">
      <div id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="caret"></span>
      </div>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li (click)="changeState(task.IN_PROGRESS)"><a href="#">IN PROGRESS</a></li>
        <li (click)="changeState(task.DONE)"><a href="#">DONE</a></li>
        <li (click)="changeState(task.CANCELED)"><a href="#">CANCEL</a></li>
        <li (click)="changeState(task.OUT_OF_DATE)"><a href="#">OUT OF DATE</a></li>
        <li role="separator" class="divider"></li>
        <li><a data-toggle="modal" data-target="#taskModal" (click)="taskEditModal()">EDIT</a></li>
        <li><a href="#">DELETE</a></li>
      </ul>
    </div>
    {{ task.name }}
  </h5>
</div>
